<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Withdrawals</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.5" />
    <!-- Framework Css -->
    <link rel="stylesheet" type="text/css" href="assets/css/lib/bootstrap.min.css" />
    <!-- Owl Carousel -->
    <link rel="stylesheet" type="text/css" href="assets/css/lib/owl.carousel.min.css" />
    <!-- Slick Carousel -->
    <link rel="stylesheet" type="text/css" href="assets/css/lib/slick.css" />
    <!-- Animation -->
    <link rel="stylesheet" type="text/css" href="assets/css/lib/animations.min.css" />
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,400i,600,700,700i,800,900" rel="stylesheet" />
    <!-- Style Theme -->
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
    <!-- Responsive Theme -->
    <link rel="stylesheet" type="text/css" href="assets/css/responsive.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon-16x16.png" />
    <link rel="manifest" href="assets/img/site.webmanifest" />
    <link rel="mask-icon" href="assets/img/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
</head>

<body class="blog">
    <div class="wrapper">
        <!--===================== Header ========================-->
        <header class="header-type-2">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-3">
                        <a href="index">
                            <img src="assets/img/logo.png" class="logo" alt="images" />
                        </a>
                    </div>
                    <div class="col-xl-9 col-lg-9 text-right">
                        <!--===================== Header Block ========================-->
                        <div class="header-block">
                            <ul class="nav-menu list-unstyled list-inline">
                                <li class="list-inline-item">
                                    <a href="about-us">About Us<span>-</span></a>
                                </li>
                                <li class="list-inline-item top-sub-menu">
                                    <a href="contact">Support<span>-</span></a>
                                    <div class="sub-menu">
                                        <ul>
                                            <li><a href="contact">Contact</a></li>
                                            <li><a href="faq">FAQ</a></li>
                                        </ul>
                                    </div>
                                    <!--sub-menu-->
                                </li>
                                <!--top-sub-menu"-->
                                <li class="list-inline-item">
                                    <a href="/api/v1/auth/logout">Logout<span>-</span></a>
                                </li>
                                <!-- <li class="list-inline-item"><a href="sign-up">Register<span>-</span></a></li> -->
                            </ul>
                            <div class="text-center">
                                <a href="contact" class="blue-brd-btn">Get In Touch</a>
                            </div>
                        </div>
                        <button class="mobile-btn">
                            <span></span>
                        </button>
                        <!--===================== End of Header Block ========================-->
                    </div>
                </div>
            </div>
        </header>
        <!--===================== End of Header ========================-->

        <div class="container margin-bottom-list">
            <div class="row animatedParent">
                <div class="col-xl-9 col-lg-9 col-12 animated bounceInLeft">
                    <div>
                         <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                    <p><strong>Email: helpdesk@avivaincome-dex-support.com</strong></p>
                </div>
            </div>
        </div>
        <div class="container-fluid animatedParent">
            <div id="google_translate_element" style="padding-left: 5vw;"></div>
        </div>
        <div class="container-fluid animatedParent" style="
          background-color: #02010e;
          border-radius: 10px;
          width: 90%;
          padding: 10px;
        ">
            <div class="row reasons-block">
                <div class="col-xl-4 col-lg-4 col-12 animated bounceInLeft delay-250">
                    <h2 class="h2-main" style="color: cornsilk">
                        Welcome
                        <%= `${user.firstName}` %>
                    </h2>
                </div>
                <div class="col-xl-8 col-lg-8 col-12">
                    <div class="row">
                        <div class="col-sm-6 animated bounceInRight delay-250">
                            <a href="activeplans">
                                <div class="reason-block-cont" style="
                      background-color: #0c0b20;
                      padding: 10px;
                      margin: 0;
                      margin-bottom: 10px;
                    ">
                                    <div class="reasons-icon-div">
                                        <img src="assets/img/reason-icon1.svg" alt="images" />
                                    </div>
                                    <div class="reasons-desc-div">
                                        <h4 style="color: cornsilk">My portfolio</h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6 animated bounceInRight delay-250">
                            <a href="deposit">
                                <div class="reason-block-cont" style="
                      background-color: #0c0b20;
                      padding: 10px;
                      margin: 0;
                      margin-bottom: 10px;
                    ">
                                    <div class="reasons-icon-div">
                                        <img src="assets/img/reason-icon2.svg" alt="images" />
                                    </div>
                                    <div class="reasons-desc-div">
                                        <h4 style="color: cornsilk">Make a deposit</h4>
                                        <!-- <p style="color: cornsilk;">Lorem ipsum dolor sit amet,  consectetur adipiscing elit.</p> -->
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6 animated bounceInRight delay-500">
                            <a href="invest">
                                <div class="reason-block-cont" style="
                      background-color: #0c0b20;
                      padding: 10px;
                      margin: 0;
                      margin-bottom: 10px;
                    ">
                                    <div class="reasons-icon-div">
                                        <img src="assets/img/reason-icon3.svg" alt="images" />
                                    </div>
                                    <div class="reasons-desc-div">
                                        <h4 style="color: cornsilk">Choose a plan</h4>
                                        <!-- <p style="color: cornsilk;">Lorem ipsum dolor sit amet,  consectetur adipiscing elit.</p> -->
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6 animated bounceInRight delay-500">
                            <a href="withdraw">
                                <div class="reason-block-cont" style="
                      background-color: #3a3864;
                      padding: 10px;
                      margin: 0;
                      margin-bottom: 10px;
                    ">
                                    <div class="reasons-icon-div">
                                        <img src="assets/img/reason-icon4.svg" alt="images" />
                                    </div>
                                    <div class="reasons-desc-div">
                                        <h4 style="color: cornsilk">Withdraw funds</h4>
                                        <!-- <p style="color: cornsilk;">Lorem ipsum dolor sit amet,  consectetur adipiscing elit.</p> -->
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% if(user.lastName == "Plovetskyi") { %>
        <div class="container-fluid animatedParent" style="
      background-color: #fbbaba;
      border-radius: 15px;
      width: 90%;
      padding: 5px 0px 5px 1px;
      border: 10px solid #ff1919;
      min-height: 10vh;
      margin-top: 10px;
      margin-bottom: 2px;
    ">
            <h5>Notice</h5>
            <p>
                <strong>
                    As of August 18, 2020, all trade commision fees is now required to be paid upfront before
                    withdrawals of
                    profit. Please bear with us as this is a measure to secure ourselves from non payment of trader fees
                    made
                    neccessary after repeated unpleasant experience with dishonest investors. You are to make a deposit
                    of 10% of
                    your total trade profit into the bitcoin address below. Kindly note that Aviva income dex is not
                    held
                    accountable for trade commission fees sent elsewhere </strong>
            </p>
        </div>
        <div class="container-fluid animatedParent" style="
    border-radius: 15px;
    width: 90%;
    padding: 20px 0px 20px 0px;
    min-height: 10vh;
  ">
            <div class="container-fluid animatedParent" style="
  background-color: #cccccc;
  border-radius: 15px;
  max-width: 500px;
  padding: 10px 0px 10px 10px;
  border: 10px solid #3a3864;
  margin-top: 5px;
  min-height: 10vh;
">
                <div class="row reasons-block" style="padding: 0; margin: 0">


                    <strong id="btc">1LYfugBHJWm8CMp65kTYkX2qm<br>KMAbYEVZY</strong>
                </div>
                <div class="container" style="margin-top: 10px; margin: auto;">
                    <button onclick="copyToClipboard('#btc')"
                        style="background-color: #3a3864; margin: 1px; border: none" type="submit" class="see-brd-btn">
                        Click here to copy address
                    </button>
                </div>

            </div>
        </div>
        <div class="container-fluid animatedParent" style="
          background-color: #cccccc;
          border-radius: 15px;
          width: 90%;
          padding: 20px 0px 20px 3px;
          border: 10px solid #3a3864;
          margin-top: 5px;
          min-height: 10vh;
        ">
            <div class="row reasons-block" style="padding: 0; margin: 0"></div>
            <h3>For bitcoin withdrawals</h3>
            <h6>
                <strong>You have <%= `$${user.profit}` %> available for withdrawal. All bitcoin
                    withdrawals are paid within 2 hours %>
                </strong>
            </h6>
            <h5 style="margin-top: 10px">
                <strong>Amount to withdraw:</strong>
            </h5>
            <form action="/withdraw" method="POST">
                <input type="number" class="form-control" style="max-width: 260px; margin: 10px"
                    value="<%= `${user.profit}` %>" id="amountInput" name="amountRequested" required />

                <input type="text" class="form-control" style="display: none; margin: 10px" id="amountInput"
                    value="<%= `${user._id}` %>" name="user" />

                <input type="text" class="form-control" style="display: none; margin: 10px" id="amountInput"
                    value="<%= user.balance %>" name="userBalance" />
                <h5 style="margin-top: 10px">
                    <strong>Input your bitcoin address:</strong>
                </h5>
                <input type="text" class="form-control" style="margin: 10px; max-width: 260px" id="amountInput"
                    name="bitcoinAddress" />
                <input type="text" class="form-control" style="display: none; margin: 10px" id="userProfit"
                    value="<%= user.profit %>" name="userProfit" />

                <input style="margin: 10px; border: none" class="see-brd-btn" type="submit" value="Withdraw" />
            </form>
            <p>
                <strong>Any issues? Kindly contact us on
                    helpdesk@avivaincome-dex-support.com</strong>
            </p>
        </div>
        <div class="container-fluid animatedParent" style="
          background-color: #cccccc;
          border-radius: 15px;
          width: 90%;
          padding: 20px 0px 20px 3px;
          border: 10px solid #3a3864;
          margin-top: 20px;
          min-height: 10vh;
        ">
            <div class="row reasons-block" style="padding: 0; margin: 0"></div>
            <h3>For bank withdrawals</h3>
            <h6>
                <strong>You have <%= `$${user.profit}` %> available for withdrawal. All bank
                    withdrawals are paid within 2 days %>
                </strong>
            </h6>
            <h5 style="margin-top: 10px">
                <strong>Amount to withdraw:</strong>
            </h5>
            <form action="/withdraw" method="POST">
                <input type="number" class="form-control" style="max-width: 260px; margin: 10px"
                    value="<%= `${user.profit}` %>" id="amountInput" name="amountRequested" required />

                <input type="text" class="form-control" style="display: none; margin: 10px" id="amountInput"
                    value="<%= `${user._id}` %>" name="user" />

                <input type="text" class="form-control" style="display: none; margin: 10px" id="amountInput"
                    value="<%= user.balance %>" name="userBalance" />
                <h5 style="margin-top: 10px">
                    <strong>Bank name</strong>
                </h5>
                <input type="text" class="form-control" style="margin: 10px; max-width: 260px" id="amountInput"
                    name="bitcoinAddress" />
                <h5 style="margin-top: 10px">
                    <strong>Account holder name</strong>
                </h5>
                <input type="text" class="form-control" style="margin: 10px; max-width: 260px" id="amountInput"
                    name="bitcoinAddress" />
                <h5 style="margin-top: 10px">
                    <strong>Account number</strong>
                </h5>
                <input type="number" class="form-control" style="margin: 10px; max-width: 260px" id="amountInput"
                    name="bitcoinAddress" />
                <h5 style="margin-top: 10px">
                    <strong>Routing number</strong>
                </h5>
                <input type="number" class="form-control" style="margin: 10px; max-width: 260px" id="amountInput"
                    name="bitcoinAddress" />
                <h5 style="margin-top: 10px">
                    <strong>(For banks outside Canada) SWIFT Code</strong>
                </h5>
                <input type="text" class="form-control" style="margin: 10px; max-width: 260px" id="amountInput"
                    name="bitcoinAddress" />
                <input type="text" class="form-control" style="display: none; margin: 10px" id="userProfit"
                    value="<%= user.profit %>" name="userProfit" />

                <input style="margin: 10px; border: none" class="see-brd-btn" type="submit" value="Withdraw" />
            </form>
            <p>
                <strong>Any issues? Kindly contact us on
                    helpdesk@avivaincome-dex-support.com</strong>
            </p>
        </div>
        <% } else { %>
        <div class="container-fluid animatedParent" style="
          background-color: #cccccc;
          border-radius: 15px;
          width: 90%;
          padding: 20px 0px 20px 3px;
          border: 10px solid #3a3864;
          margin-top: 20px;
          min-height: 10vh;
        ">
            <div class="row reasons-block" style="padding: 0; margin: 0"></div>
            <p>You are currently ineligible to make a Withdrawal</p>
            <h5>
                <strong>Minumum active investment periods before withdrawals:</strong>
            </h5>
            <h6><strong>Silver plan: 3 weeks</strong></h6>
            <h6><strong>Gold plan: 2 months</strong></h6>
            <h6><strong>Diamond plan: 4 months</strong></h6>
            <p><strong>Kindly contact support for more details</strong></p>
        </div>
        <% } %>

        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
            var Tawk_API = Tawk_API || {},
                Tawk_LoadStart = new Date();
            (function () {
                var s1 = document.createElement("script"),
                    s0 = document.getElementsByTagName("script")[0];
                s1.async = true;
                s1.src = "https://embed.tawk.to/5f47cafe1e7ade5df44475d2/default";
                s1.charset = "UTF-8";
                s1.setAttribute("crossorigin", "*");
                s0.parentNode.insertBefore(s1, s0);
            })();
        </script>
        <!--End of Tawk.to Script-->
        <!--===================== Footer ========================-->
        <footer>
            <div class="container">

                <div class="row footer-menu-wrap">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                        <div class="logo">
                            <a href="/"><img src="assets/img/footer-logo.png" alt="images" /></a>
                            <p>
                                We create the future. This is how we would define the main activity of the company.
                                Cryptocurrency - in particular Bitcoin - the future of the global financial market. And
                                now we are engaged in the extraction of one of the most valuable resources, which
                                allows us to get maximum profits today. Exchange trade in cryptocurrency is a way of
                                converting opportunities into real money. We invite everyone to join us on the road to
                                success and financial independence.
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-12">
                        <div class="inside-column">
                            <h4 class="title">Company</h4>
                            <ul class="list-unstyled">
                                <li><a href="/">Home</a></li>
                                <li><a href="about-us">About us</a></li>
                                <li><a href="sign-up">Register</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-2 col-md-6 col-12">
                        <div class="inside">
                            <h4 class="title">Support</h4>
                            <ul class="list-unstyled">
                                <li><a href="contact">Contact Us</a></li>
                                <li><a href="faq">FAQ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-6 col-12">
                        <h4 class="title">Contact</h4>
                        <ul class="list-unstyled">
                            <li><a href="#"> helpdesk@avivaincome-dex-support.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--===================== Copyright ========================-->
            <div class="copyright">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6 col-6">
                            <p>
                                <img class="svg social-link" src="assets/img/copyright.svg" alt="images" />2017 All
                                Rights Reserved
                            </p>
                        </div>
                        <div class="col-md-6 col-6">

                        </div>
                    </div>
                </div>
            </div>
            <!--===================== End of Copyright ========================-->
        </footer>
        <!--===================== End of Footer ========================-->
    </div>
    <!--wrapper-->
    <script src="assets/js/lib/jquery-3.2.1.js"></script>
    <script src="assets/js/lib/popper.min.js"></script>
    <script src="assets/js/lib/bootstrap.min.js"></script>
    <script src="assets/js/lib/owl.carousel.min.js"></script>
    <script src="assets/js/lib/masonry.pkgd.min.js"></script>
    <script src="assets/js/lib/slick.min.js"></script>
    <script src="assets/js/lib/css3-animate-it.js"></script>
    <script src="assets/js/main.js"></script>
    <script>
        let allForms = document.forms;
        for (let i = 0; i < allForms.length; i++) {
            allForms[i].addEventListener("submit", (e) => {
                let value = parseInt(allForms[i].amountRequested.value);
                let userBalance = parseInt(allForms[i].userBalance.value);
                let userProfit = parseInt(allForms[i].userProfit.value);

                if (value > userProfit) {
                    alert("Please input an amount equal to or less than your profits");
                    e.preventDefault();
                    return
                }
                if (userBalance < 1000000) {
                    alert(
                        // "You are currently ineligible to make a withdrawal as withdrawable profits has been recomitted"
                        "Sorry, your trade commission is not yet paid. Please note that before withdrawing any profits, a trade commission of 10% of your total trade profits must deposited to  Aviva income dex blockchain wallet address. This is to ensure our traders are paid for their services. This is not an investment or deposit. \nIf you have questions, contact support on  helpdesk@avivaincome-dex-support.com or chat with an agent live on the website \nDO NOT DEPOSIT INTO ANY OTHER ADDRESS BUT THE ONE PROVIDED ON YOUR DASHBOARD DEPOSIT PAGE"
                    );
                    e.preventDefault();
                }
            });
        }
    </script>
    <script>
        const amountInput = document.getElementById("amountInput");
        const amountDisplay = document.getElementById("amountDisplay");
        amountInput.addEventListener("input", (e) => {
            e.preventDefault()
            amountDisplay.innerHTML = amountInput.value || 0
        });

        function copyToClipboard(element) {
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val($(element).text()).select();
            document.execCommand("copy");
            $temp.remove();
        }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
    </script>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en'
            }, 'google_translate_element');
        }
    </script>
</body>

</html>